html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #336399;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.navbar {
    display: flex;
    height: 100px;
    align-items: center;
    margin-left: 10px;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 8px 16px;
}

.navbar li {
    margin-right: 20px; 
    font-size: 20px;
    padding: 8px 16px;
}

.navbar a {
    text-decoration: none;
    color: #DFAF67;
    display: block;
    padding: 8px 16px;
}

.container-navbar img {
    height: 200px;
    width: 200px;
    justify-content: center;
}

.navbar-secundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.teste-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.teste-login ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.teste-login li {
    margin-right: 20px; 
    font-size: 20px;
    padding: 10px;
}

.teste-login a {
    text-decoration: none;
    color: #DFAF67;
}

.login:hover {
    scale: 1.1;
}

.teste-gratis {
    background-color: #DFAF67;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.navbar a:hover {
    transform:perspective(100px) translateZ(10px);
}

.teste-gratis:hover {
    scale: 1.1;
}

.teste-gratis a {
    color: #336399;
}

.menu-icon {
    color: #DFAF67;
}

.menu-icon:hover {
    scale: 1.2;
    cursor: pointer;
}

.conteudo {
    height: 100vh;
    width: 100%;
}

.content h2 {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
}

.container-desconto {
    position: relative;
}

.desconto {
    color: #DFAF67;
    font-size: 80px;
    display: flex;
    margin: 100px;
    position: absolute;
    left: 100px;
    top: 10px
}

.conteudo {
    display: relative;

}

.content {
    display: absolute;
    position: absolute;
    left: 300px;
    bottom: 100px;
    top: 300px;    
    width: 600px;
}

.content h2 {
    color: #DFAF67;
    font-size: 50px;
}

.subtitulo {
    color: #DFAF67;
    font-size: 25px;
    position: absolute;
    top: 90px;
    font-family: 'oswald', sans-serif;
}

.innovaweb-publi {
    position: absolute;
    right: 10px;
    top: 200px;
    left: 1000px;
}

.button {
    position: absolute;
    left: 200px;
    bottom: 80px;
    top: 400px;
}

.btn {
    background-color: #DFAF67;
    border-radius: 10%;
    padding: 10px;
    width: 200px;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.btn:hover {
    scale: 1.1;
    cursor: pointer;
}