html, body {
    background-color: #336399;
    margin-left: 20px ;

}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.navbar {
    display: flex;
    height: 100px;
    align-items: center;
    margin-left: 10px;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 8px 16px;
}

.navbar li {
    margin-right: 20px; 
    font-size: 20px;
    padding: 8px 16px;
}

.navbar a {
    text-decoration: none;
    color: #DFAF67;
    display: block;
    padding: 8px 16px;
}

.container-navbar img {
    height: 200px;
    width: 200px;
    justify-content: center;
}

.navbar-secundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.teste-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.teste-login ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.teste-login li {
    margin-right: 20px; 
    font-size: 20px;
    padding: 10px;
}

.teste-login a {
    text-decoration: none;
    color: #DFAF67;
}

.login:hover {
    scale: 1.1;
}

.teste-gratis {
    background-color: #DFAF67;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.navbar a:hover {
    transform:perspective(100px) translateZ(10px);
}

.teste-gratis:hover {
    scale: 1.1;
}

.teste-gratis a {
    color: #336399;
}

.menu-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

h1 {
    color: #DFAF67;
    font-size: 35px;
    font-family: 'nerko One';
}

h2 {
    color: #DFAF67;
    font-size: 25px ;
    font-family: 'nerko One';
}

p {
    font-size: 20px;
    font-family: 'oswald';

}

.servicos-box li {
    font-size: 20px;
    font-family: 'oswald';
    list-style-type: circle;
}